@import 'reset';

body{
    background: rgb(36,0,21);
background: linear-gradient(219deg, rgba(36,0,21,1) 0%, rgba(121,9,111,1) 50%, rgba(255,0,61,1) 100%);
    .calculadora-grilla{
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: 100vh;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(120px, auto) repeat(5, 100px);

        
    }
    
    
 
}

.calculadora-grilla > a{
 
}

.calculadora-grilla > button{
   
    font-size: 2rem;
    border: 1px solid #79096f;
    outline: none;
    background-color: rgba(255, 255, 255, 0.493);
}

.calculadora-grilla > button:hover{
    background-color: rgba(255,0,61,.9);
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

    .display{
color: black;
font-size: 1.85rem;
text-align: right;
outline: none;
    }
}



